{
    "presets": ["@babel/preset-typescript", "@babel/preset-env"],
    "plugins": [
      [
        "module-resolver",
        {
            "root": ["./src"],
            "alias": {
            "@routes": "./src/routes",
            "@pages": "./src/pages"
          }
        }
      ]
    ]
  }
